@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

body{
    margin: 0;
    padding: 0;
    display: flex;
    /* font-family: 'Roboto Mono'; */
}

.bio{
    text-align: justify;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-rami{
    font: normal bold 10px var(--font-rami);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-black{
    background-color: var(--color-black);
}

/* #global classes */

#header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-white);
}

#header .nav-link{
    margin: .4rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-white) !important;
}

#header .toggle-button{
    /* background: #000000; */
    /* color: var(--color-white); */
    position: fixed;
    /* border-radius: 100%; */
    overflow: hidden;
    top: 25px;
    right: 20px;
    /* border: 4px solid var(--color-border); */
}


.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

.ico{
    padding: 2px;
}

/* site-main */

.site-banner .banner-area, #particles-js{
    background: url(./assets/Banner_image_1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(0px);
    
    /* filter: brightness(50%); */
    position: relative;
    overflow: hidden;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk{
    color: #7e7d7d;
    margin: 10px;
    /* margin-right: 5px; */
}

.sk:hover {
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-name: icon_color;

}

.filter_img{
    filter: blur(20px);
}
  @keyframes icon_color {
    50%{color: #2b2b2b}
}

.tilt:hover{
    animation-duration: .1s;
    animation-iteration-count: 2;
    animation-name: jitter;
}

@keyframes jitter {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(15deg);}
    75%{transform: rotate(-15deg);}
    100%{transform: rotate(0deg);}
}

.author-img {
    box-shadow: 2px 2px 100px rgb(20, 10, 10);    
}

.author-img:hover{
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    0%{box-shadow: 2px 2px 100px rgb(0, 0, 0);}
    25%{box-shadow: 2px 2px 10px rgb(255, 255, 255);}
    50%{box-shadow: 2px 2px 110px rgb(0, 0, 0);}
    100%{box-shadow: 2px 2px 100px rgb(255, 255, 255);}
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/about.jpg) no-repeat;
    background-size: 150%;
    background-position: 55% 0;
}

.skill .bars p, .site-content .skill .bars span{
    line-height: 10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
}

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}
.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0,0.5);
}

.container .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .face .face1{
    box-sizing: border-box;
    padding: 20px;
}

.container .card .face .face1 h2{
    margin: 0;
    padding: 0;
}

.container .card .face .face2{
    background: #111;
    transition: 0.5s;
}

.container .card .face .face2 h2{
    margin: 0;
    padding: 0;
    font: 10em;
    color: #fff;
    transition: 0.5s;
}

.list-group-item{
    /* display: inline; */
    margin-top: 25px;
    display: flexbox;
}
.back_btn{
    display: inline;
    margin: 20px;
}

#userRepos li li{
    transition: 0.3s;
}

#userRepos li li:hover{
    /* transition-delay: 0.5s; */

    background-color: #f1efef;
    /* animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: project_color; */
}

@keyframes project_color {
    50%{background-color: #f1efef;}
}

.scrollTop{
    position: fixed;
    bottom: -100px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #ffffff url(assets/misc/up.png);
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    
}

.scrollTop.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

.texter{
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
}